# Object files
*.o

# Libraries
*.lib
*.a
*.so

# Executables
find-duplicates

# Backups
*.css~
*.html~
*.text~

# Project Files
Debug
Release
Profile
find-duplicates.pro
find-duplicates.pro.user

# Log files
find-duplicates.log